# File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

from __future__ import annotations

from typing import Dict, Iterable

import httpx

from ..types import product_list_params, product_create_params
from .._types import Body, Omit, Query, Headers, NotGiven, SequenceNotStr, omit, not_given
from .._utils import maybe_transform, async_maybe_transform
from .._compat import cached_property
from .._resource import SyncAPIResource, AsyncAPIResource
from .._response import (
    to_raw_response_wrapper,
    to_streamed_response_wrapper,
    async_to_raw_response_wrapper,
    async_to_streamed_response_wrapper,
)
from ..pagination import SyncMyCursorIDPage, AsyncMyCursorIDPage
from .._base_client import AsyncPaginator, make_request_options
from ..types.product import Product

__all__ = ["ProductsResource", "AsyncProductsResource"]


class ProductsResource(SyncAPIResource):
    @cached_property
    def with_raw_response(self) -> ProductsResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/stainless-sdks/stripe-minimal-python#accessing-raw-response-data-eg-headers
        """
        return ProductsResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> ProductsResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/stainless-sdks/stripe-minimal-python#with_streaming_response
        """
        return ProductsResourceWithStreamingResponse(self)

    def create(
        self,
        *,
        name: str,
        id: str | Omit = omit,
        active: bool | Omit = omit,
        default_price_data: product_create_params.DefaultPriceData | Omit = omit,
        description: str | Omit = omit,
        expand: SequenceNotStr[str] | Omit = omit,
        images: SequenceNotStr[str] | Omit = omit,
        marketing_features: Iterable[product_create_params.MarketingFeature] | Omit = omit,
        metadata: Dict[str, str] | Omit = omit,
        package_dimensions: product_create_params.PackageDimensions | Omit = omit,
        shippable: bool | Omit = omit,
        statement_descriptor: str | Omit = omit,
        tax_code: str | Omit = omit,
        unit_label: str | Omit = omit,
        url: str | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> Product:
        """
        <p>Creates a new product object.</p>

        Args:
          name: The product's name, meant to be displayable to the customer.

          id: An identifier will be randomly generated by Stripe. You can optionally override
              this ID, but the ID must be unique across all products in your Stripe account.

          active: Whether the product is currently available for purchase. Defaults to `true`.

          default_price_data: Data used to generate a new [Price](https://docs.stripe.com/api/prices) object.
              This Price will be set as the default price for this product.

          description: The product's description, meant to be displayable to the customer. Use this
              field to optionally store a long form explanation of the product being sold for
              your own rendering purposes.

          expand: Specifies which fields in the response should be expanded.

          images: A list of up to 8 URLs of images for this product, meant to be displayable to
              the customer.

          marketing_features: A list of up to 15 marketing features for this product. These are displayed in
              [pricing tables](https://docs.stripe.com/payments/checkout/pricing-table).

          metadata: Set of [key-value pairs](https://docs.stripe.com/api/metadata) that you can
              attach to an object. This can be useful for storing additional information about
              the object in a structured format. Individual keys can be unset by posting an
              empty value to them. All keys can be unset by posting an empty value to
              `metadata`.

          package_dimensions: The dimensions of this product for shipping purposes.

          shippable: Whether this product is shipped (i.e., physical goods).

          statement_descriptor: An arbitrary string to be displayed on your customer's credit card or bank
              statement. While most banks display this information consistently, some may
              display it incorrectly or not at all.

              This may be up to 22 characters. The statement description may not include `<`,
              `>`, `\\``, `"`, `'` characters, and will appear on your customer's statement in
              capital letters. Non-ASCII characters are automatically stripped. It must
              contain at least one letter. Only used for subscription payments.

          tax_code: A [tax code](https://docs.stripe.com/tax/tax-categories) ID.

          unit_label: A label that represents units of this product. When set, this will be included
              in customers' receipts, invoices, Checkout, and the customer portal.

          url: A URL of a publicly-accessible webpage for this product.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return self._post(
            "/v1/products",
            body=maybe_transform(
                {
                    "name": name,
                    "id": id,
                    "active": active,
                    "default_price_data": default_price_data,
                    "description": description,
                    "expand": expand,
                    "images": images,
                    "marketing_features": marketing_features,
                    "metadata": metadata,
                    "package_dimensions": package_dimensions,
                    "shippable": shippable,
                    "statement_descriptor": statement_descriptor,
                    "tax_code": tax_code,
                    "unit_label": unit_label,
                    "url": url,
                },
                product_create_params.ProductCreateParams,
            ),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=Product,
        )

    def list(
        self,
        *,
        active: bool | Omit = omit,
        created: product_list_params.Created | Omit = omit,
        ending_before: str | Omit = omit,
        expand: SequenceNotStr[str] | Omit = omit,
        ids: SequenceNotStr[str] | Omit = omit,
        limit: int | Omit = omit,
        shippable: bool | Omit = omit,
        starting_after: str | Omit = omit,
        url: str | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> SyncMyCursorIDPage[Product]:
        """<p>Returns a list of your products.

        The products are returned sorted by creation date, with the most recently created products appearing first.</p>

        Args:
          active: Only return products that are active or inactive (e.g., pass `false` to list all
              inactive products).

          created: Only return products that were created during the given date interval.

          ending_before: A cursor for use in pagination. `ending_before` is an object ID that defines
              your place in the list. For instance, if you make a list request and receive 100
              objects, starting with `obj_bar`, your subsequent call can include
              `ending_before=obj_bar` in order to fetch the previous page of the list.

          expand: Specifies which fields in the response should be expanded.

          ids: Only return products with the given IDs. Cannot be used with
              [starting_after](https://api.stripe.com#list_products-starting_after) or
              [ending_before](https://api.stripe.com#list_products-ending_before).

          limit: A limit on the number of objects to be returned. Limit can range between 1 and
              100, and the default is 10.

          shippable: Only return products that can be shipped (i.e., physical, not digital products).

          starting_after: A cursor for use in pagination. `starting_after` is an object ID that defines
              your place in the list. For instance, if you make a list request and receive 100
              objects, ending with `obj_foo`, your subsequent call can include
              `starting_after=obj_foo` in order to fetch the next page of the list.

          url: Only return products with the given url.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return self._get_api_list(
            "/v1/products",
            page=SyncMyCursorIDPage[Product],
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=maybe_transform(
                    {
                        "active": active,
                        "created": created,
                        "ending_before": ending_before,
                        "expand": expand,
                        "ids": ids,
                        "limit": limit,
                        "shippable": shippable,
                        "starting_after": starting_after,
                        "url": url,
                    },
                    product_list_params.ProductListParams,
                ),
            ),
            model=Product,
        )


class AsyncProductsResource(AsyncAPIResource):
    @cached_property
    def with_raw_response(self) -> AsyncProductsResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/stainless-sdks/stripe-minimal-python#accessing-raw-response-data-eg-headers
        """
        return AsyncProductsResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> AsyncProductsResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/stainless-sdks/stripe-minimal-python#with_streaming_response
        """
        return AsyncProductsResourceWithStreamingResponse(self)

    async def create(
        self,
        *,
        name: str,
        id: str | Omit = omit,
        active: bool | Omit = omit,
        default_price_data: product_create_params.DefaultPriceData | Omit = omit,
        description: str | Omit = omit,
        expand: SequenceNotStr[str] | Omit = omit,
        images: SequenceNotStr[str] | Omit = omit,
        marketing_features: Iterable[product_create_params.MarketingFeature] | Omit = omit,
        metadata: Dict[str, str] | Omit = omit,
        package_dimensions: product_create_params.PackageDimensions | Omit = omit,
        shippable: bool | Omit = omit,
        statement_descriptor: str | Omit = omit,
        tax_code: str | Omit = omit,
        unit_label: str | Omit = omit,
        url: str | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> Product:
        """
        <p>Creates a new product object.</p>

        Args:
          name: The product's name, meant to be displayable to the customer.

          id: An identifier will be randomly generated by Stripe. You can optionally override
              this ID, but the ID must be unique across all products in your Stripe account.

          active: Whether the product is currently available for purchase. Defaults to `true`.

          default_price_data: Data used to generate a new [Price](https://docs.stripe.com/api/prices) object.
              This Price will be set as the default price for this product.

          description: The product's description, meant to be displayable to the customer. Use this
              field to optionally store a long form explanation of the product being sold for
              your own rendering purposes.

          expand: Specifies which fields in the response should be expanded.

          images: A list of up to 8 URLs of images for this product, meant to be displayable to
              the customer.

          marketing_features: A list of up to 15 marketing features for this product. These are displayed in
              [pricing tables](https://docs.stripe.com/payments/checkout/pricing-table).

          metadata: Set of [key-value pairs](https://docs.stripe.com/api/metadata) that you can
              attach to an object. This can be useful for storing additional information about
              the object in a structured format. Individual keys can be unset by posting an
              empty value to them. All keys can be unset by posting an empty value to
              `metadata`.

          package_dimensions: The dimensions of this product for shipping purposes.

          shippable: Whether this product is shipped (i.e., physical goods).

          statement_descriptor: An arbitrary string to be displayed on your customer's credit card or bank
              statement. While most banks display this information consistently, some may
              display it incorrectly or not at all.

              This may be up to 22 characters. The statement description may not include `<`,
              `>`, `\\``, `"`, `'` characters, and will appear on your customer's statement in
              capital letters. Non-ASCII characters are automatically stripped. It must
              contain at least one letter. Only used for subscription payments.

          tax_code: A [tax code](https://docs.stripe.com/tax/tax-categories) ID.

          unit_label: A label that represents units of this product. When set, this will be included
              in customers' receipts, invoices, Checkout, and the customer portal.

          url: A URL of a publicly-accessible webpage for this product.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return await self._post(
            "/v1/products",
            body=await async_maybe_transform(
                {
                    "name": name,
                    "id": id,
                    "active": active,
                    "default_price_data": default_price_data,
                    "description": description,
                    "expand": expand,
                    "images": images,
                    "marketing_features": marketing_features,
                    "metadata": metadata,
                    "package_dimensions": package_dimensions,
                    "shippable": shippable,
                    "statement_descriptor": statement_descriptor,
                    "tax_code": tax_code,
                    "unit_label": unit_label,
                    "url": url,
                },
                product_create_params.ProductCreateParams,
            ),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=Product,
        )

    def list(
        self,
        *,
        active: bool | Omit = omit,
        created: product_list_params.Created | Omit = omit,
        ending_before: str | Omit = omit,
        expand: SequenceNotStr[str] | Omit = omit,
        ids: SequenceNotStr[str] | Omit = omit,
        limit: int | Omit = omit,
        shippable: bool | Omit = omit,
        starting_after: str | Omit = omit,
        url: str | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> AsyncPaginator[Product, AsyncMyCursorIDPage[Product]]:
        """<p>Returns a list of your products.

        The products are returned sorted by creation date, with the most recently created products appearing first.</p>

        Args:
          active: Only return products that are active or inactive (e.g., pass `false` to list all
              inactive products).

          created: Only return products that were created during the given date interval.

          ending_before: A cursor for use in pagination. `ending_before` is an object ID that defines
              your place in the list. For instance, if you make a list request and receive 100
              objects, starting with `obj_bar`, your subsequent call can include
              `ending_before=obj_bar` in order to fetch the previous page of the list.

          expand: Specifies which fields in the response should be expanded.

          ids: Only return products with the given IDs. Cannot be used with
              [starting_after](https://api.stripe.com#list_products-starting_after) or
              [ending_before](https://api.stripe.com#list_products-ending_before).

          limit: A limit on the number of objects to be returned. Limit can range between 1 and
              100, and the default is 10.

          shippable: Only return products that can be shipped (i.e., physical, not digital products).

          starting_after: A cursor for use in pagination. `starting_after` is an object ID that defines
              your place in the list. For instance, if you make a list request and receive 100
              objects, ending with `obj_foo`, your subsequent call can include
              `starting_after=obj_foo` in order to fetch the next page of the list.

          url: Only return products with the given url.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return self._get_api_list(
            "/v1/products",
            page=AsyncMyCursorIDPage[Product],
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=maybe_transform(
                    {
                        "active": active,
                        "created": created,
                        "ending_before": ending_before,
                        "expand": expand,
                        "ids": ids,
                        "limit": limit,
                        "shippable": shippable,
                        "starting_after": starting_after,
                        "url": url,
                    },
                    product_list_params.ProductListParams,
                ),
            ),
            model=Product,
        )


class ProductsResourceWithRawResponse:
    def __init__(self, products: ProductsResource) -> None:
        self._products = products

        self.create = to_raw_response_wrapper(
            products.create,
        )
        self.list = to_raw_response_wrapper(
            products.list,
        )


class AsyncProductsResourceWithRawResponse:
    def __init__(self, products: AsyncProductsResource) -> None:
        self._products = products

        self.create = async_to_raw_response_wrapper(
            products.create,
        )
        self.list = async_to_raw_response_wrapper(
            products.list,
        )


class ProductsResourceWithStreamingResponse:
    def __init__(self, products: ProductsResource) -> None:
        self._products = products

        self.create = to_streamed_response_wrapper(
            products.create,
        )
        self.list = to_streamed_response_wrapper(
            products.list,
        )


class AsyncProductsResourceWithStreamingResponse:
    def __init__(self, products: AsyncProductsResource) -> None:
        self._products = products

        self.create = async_to_streamed_response_wrapper(
            products.create,
        )
        self.list = async_to_streamed_response_wrapper(
            products.list,
        )
